.slider-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.mySwiper {
  width: 100%;
  height: 300px;
}

.mySwiper img {
  display: block;
//   width: 100%;
//   height: auto;
  border-radius: 10px;
}
