.header {
  padding-top: 14px;
  padding-bottom: 14px;

  @media screen and (min-width: 654px) {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  @media screen and (min-width: 1170px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  // @media screen and (min-width: 654px) {

  // }

  // @media screen and (min-width: 1170px) {

  // }

}

.header__burgerBtn {
  align-items: center;
  margin-left: 215px;
  color: #000;
  
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: transparent;
  margin-right: 5px;

  @media screen and (min-width: 654px) {
    display: none;
  }


}


.header__burgerSvg {
  width: 12px;
  height: 12px;
  stroke-width: 1px;
  margin-left: 5px;

}








.header .container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: none;

  @media screen and (min-width: 654px) {
    display: block;
    margin-left: 5%;
  }

  @media screen and (min-width: 1170px) {}

  /* margin-right: 75%; */
}

.header__logo {
  margin-left: 50px;
  flex-shrink: 0;
  width: 34px;
  height: 22px;

  @media screen and (min-width: 654px) {
    margin-left: 100px;
    width: 54px;
    height: 36px;
  }

  @media screen and (min-width: 1170px) {
    margin-left: 150px;
    width: 82px;
    height: 56px;
  }


  // background: url(./logo.png);
}

.header__navList {
  margin-top: 30px;
  margin-left: 50px;

  @media screen and (min-width: 654px) {
    margin: 0px;
    gap: 45px;
    display: flex;

  }

  @media screen and (min-width: 1170px) {
    gap: 42px;
  }
}

.header__navPage {


  @media screen and (min-width: 654px) {
    color: #000;
    
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  @media screen and (min-width: 1170px) {
    font-size: 12px;
    font-weight: 500;
  }
}

.header__signup {
  display: none;

  @media screen and (min-width: 654px) {
    gap: 27px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 100px;
  }

  @media screen and (min-width: 1170px) {
    margin-right: 150px;
  }
}

.signup__button {
  // margin-top: 15px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  // gap: 10px;
  border-radius: 10px;
  background: #ffb36c;
  border: none;

  color: #000;
  
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* display: inline-flex; */
  @media screen and (min-width: 654px) {
// margin-top: 0px;
  }

  @media screen and (min-width: 1170px) {
    font-size: 12px;
    padding: 10px 20px;
  }
}

.signup__user {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
margin-bottom: 15px;
  @media screen and (min-width: 654px) {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1170px) {
    width: 50px;
    height: 50px;
  }

  // background: url(./user.png);
}

.burger {
  padding-bottom: 30px;
  height: 146px;
  animation-timing-function: ease-in-out;
  animation-name: bounce;
  animation-duration: 2s;
  z-index: 99;
  position: absolute;
  display: flex;
  width: 100%;
  background: #E6E6E6;

  @media screen and (min-width: 654px) {
    display: none;
  }
}

.burger__signup {
  justify-items: center;
  
  
  margin-top: 30px;
  margin-left: auto;
  margin-right: 50px;

  @media screen and (min-width: 654px) {
    display: none;
  }
}

.header__navItem {
  margin-bottom: 25px;
  @media screen and (min-width: 654px) {
    margin: 0;
  }
}